<footer class="fixed bottom-0 bg-black w-full md:hidden">
    <div class="bg-zinc-700 w-full h-[1px]"></div>
    <div class="flex flex-row justify-between mx-9 my-3">
        <img src="/img/src/home.svg" class="w-7">
        <img src="/img/src/search.svg" class="w-7">
        <img src="/img/src/bell.svg" class="w-7">
        <img src="/img/src/message.svg" class="w-7">
    </div>
</footer>