<header class="h-[20%] fixed top-0 bg-black w-full">
    <div class="flex justify-between">
        <img src="/img/profiles/coloco.jpg" class="w-8 ml-4 mt-[10px] rounded-full">
        <img src="/img/src/x.svg" class="h-[19px] w-[21px] mt-[17px] -ml-[4px]">
        <img src="/img/src/settings.svg" class="w-5 mt-3 mr-6">
    </div>
    <div class="flex items-center justify-center text-white gap-[140px] mt-6">
        <div>
            <a href="" class="font-semibold">Para ti</a>
            <div class="bg-sky-500 w-[60px] -ml-[5px] mt-2 h-1 rounded-full"></div>
        </div>
        <div class="">
            <a href="" class="text-zinc-500">Siguiendo</a>
            <div class="bg-sky-500 w-[80px] -ml-[5px] mt-2 h-1 rounded-full opacity-0"></div>
        </div>
    </div>

</header>
