<aside class="hidden w-[400px] md:block fixed inset-0">
    <div class="mt-4 ml-16">
        <img src="/img/src/x.svg" alt="" class="w-7">
        <div class="flex flex-rows">
            <img src="/img/src/home.svg" alt="" class="-ml-[5px] mt-6 w-8">
            <p class="text-white font-bold mt-7 ml-4 text-xl">Inicio</p>
        </div>
        <div class="flex flex-row">
            <img src="/img/src/search.svg" alt="" class="-ml-[5px] mt-5 w-7">
            <p class="text-white mt-5 ml-4 text-xl">Explorar</p>
        </div>
        <div class="flex flex-row ">
            <img src="/img/src/bell.svg" alt="" class="-ml-[5px] mt-5 w-7">
            <p class="text-white mt-5 ml-4 text-xl">Notificaciones</p>
        </div>
        <div class="flex flex-row">
            <img src="/img/src/message.svg" alt="" class="-ml-[5px] mt-5 w-7">
            <p class="text-white mt-5 ml-4 text-xl">Mensajes</p>
        </div>
        <div class="flex flex-row">
            <img src="/img/src/notes.svg" alt="" class="-ml-[5px] mt-5 w-7">
            <p class="text-white mt-5 ml-4 text-xl">Listas</p>
        </div>
        <div class="flex flex-row">
            <img src="/img/src/x-2.svg" alt="" class="-ml-[5px] mt-5 w-7">
            <p class="text-white mt-5 ml-4 text-xl">Premium</p>
        </div>
        <div class="flex flex-row">
            <img src="/img/src/profile.svg" alt="" class="-ml-[5px] mt-5 w-7">
            <p class="text-white mt-5 ml-4 text-xl">Perfil</p>
        </div>
        <div class="flex flex-row">
            <img src="/img/src/points-white.svg" alt="" class="-ml-[5px] mt-5 w-7">
            <p class="text-white mt-5 ml-4 text-xl">Más opciones</p>
        </div>
        <div class="mt-5 flex">
            <button class="bg-sky-500 text-white font-bold px-20 py-3 rounded-full">Postear</button>
        </div>
        <div class="mt-24 flex">
            <img src="/img/profiles/coloco.jpg" class="w-10 h-10 rounded-full">
            <div class="ml-4 -mt-1">
                <h1 class="text-white font-semibold">COLOCO0954</h1>
                <p class="text-zinc-500">@coloco0954</p>
            </div>
            <div class="flex ml-14">
                <img src="/img/src/points-white.svg" alt="" class="w-5">
            </div>
        </div>
    </div>
</aside>