<figure class="fixed bottom-0 right-0 md:hidden">
    <div class="flex mb-7">
        <div class="flex-grow"></div>
        <div class="bg-blue-500 rounded-full w-14 h-14 flex items-center justify-center -mt-[100px] mr-5">
            <img src="/img/src/feather.svg" class="w-9">
        </div>
    </div>
</figure>