<div class="px-5 py-3 flex">
    <img src="/img/profiles/-atomic.png" class="w-10 rounded-full h-10">
    <div class="flex flex-col">
        <h1 class="text-white font-semibold ml-2 mt-[2px]">Atomix.vg</h1>
        <p class="text-zinc-600 ml-2">@atomix</p>
    </div>
    <div class="flex-grow"></div>
    <button class="bg-white rounded-full font-semibold px-3 h-8">Seguir</button>
</div>